body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:84px;
  color:#D7D7D7;
}
#u721 {
  position:absolute;
  left:100px;
  top:50px;
  width:95px;
  height:102px;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:84px;
  color:#D7D7D7;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Krungthep';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u723 {
  position:absolute;
  left:205px;
  top:69px;
  width:65px;
  height:45px;
  font-family:'Krungthep';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'KufiStandardGK';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u725 {
  position:absolute;
  left:206px;
  top:114px;
  width:51px;
  height:21px;
  font-family:'KufiStandardGK';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u727 {
  position:absolute;
  left:100px;
  top:242px;
  width:157px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#5E5E5E;
}
#u729 {
  position:absolute;
  left:100px;
  top:277px;
  width:214px;
  height:65px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#5E5E5E;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:-40px;
  top:-20px;
  width:224px;
  height:224px;
}
#u731 {
  position:absolute;
  left:442px;
  top:229px;
  width:144px;
  height:144px;
}
#u732 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u733 {
  position:absolute;
  left:100px;
  top:467px;
  width:157px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#5E5E5E;
}
#u735 {
  position:absolute;
  left:100px;
  top:502px;
  width:214px;
  height:65px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#5E5E5E;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:-40px;
  top:-20px;
  width:188px;
  height:188px;
}
#u737 {
  position:absolute;
  left:442px;
  top:463px;
  width:108px;
  height:108px;
}
#u738 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u739 {
  position:absolute;
  left:100px;
  top:693px;
  width:124px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u741 {
  position:absolute;
  left:442px;
  top:676px;
  width:72px;
  height:72px;
}
#u742 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:160px;
}
#u743 {
  position:absolute;
  left:695px;
  top:225px;
  width:332px;
  height:160px;
}
#u744 {
  position:absolute;
  left:2px;
  top:72px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:88px;
}
#u745 {
  position:absolute;
  left:697px;
  top:475px;
  width:334px;
  height:88px;
}
#u746 {
  position:absolute;
  left:2px;
  top:36px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:130px;
}
#u747 {
  position:absolute;
  left:699px;
  top:647px;
  width:336px;
  height:130px;
}
#u748 {
  position:absolute;
  left:2px;
  top:57px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u749 {
  position:absolute;
  left:100px;
  top:877px;
  width:124px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u751 {
  position:absolute;
  left:442px;
  top:860px;
  width:60px;
  height:60px;
}
#u752 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u753 {
  position:absolute;
  left:100px;
  top:1050px;
  width:124px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u755 {
  position:absolute;
  left:442px;
  top:1047px;
  width:32px;
  height:32px;
}
#u756 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:29px;
}
#u757 {
  position:absolute;
  left:702px;
  top:875px;
  width:335px;
  height:29px;
}
#u758 {
  position:absolute;
  left:2px;
  top:6px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:154px;
}
#u759 {
  position:absolute;
  left:704px;
  top:986px;
  width:337px;
  height:154px;
}
#u760 {
  position:absolute;
  left:2px;
  top:69px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u761 {
  position:absolute;
  left:170px;
  top:1196px;
  width:734px;
  height:49px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  visibility:hidden;
  word-wrap:break-word;
}
