body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:860px;
}
#u0 {
  position:absolute;
  left:-9px;
  top:-9px;
  width:1440px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:860px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:860px;
  opacity:0.8;
}
#u4 {
  position:absolute;
  left:2px;
  top:422px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:54px;
  color:#FFFFFF;
  text-align:center;
}
#u5 {
  position:absolute;
  left:436px;
  top:291px;
  width:109px;
  height:71px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:54px;
  color:#FFFFFF;
  text-align:center;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:55px;
}
#u7 {
  position:absolute;
  left:573px;
  top:303px;
  width:1px;
  height:54px;
  opacity:0.5;
}
#u8 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:54px;
  color:#FFFFFF;
  text-align:center;
}
#u9 {
  position:absolute;
  left:602px;
  top:291px;
  width:321px;
  height:71px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:54px;
  color:#FFFFFF;
  text-align:center;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u11 {
  position:absolute;
  left:360px;
  top:296px;
  width:66px;
  height:66px;
}
#u12 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
