body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1136px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:84px;
  color:#D7D7D7;
}
#u764 {
  position:absolute;
  left:100px;
  top:50px;
  width:95px;
  height:102px;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:84px;
  color:#D7D7D7;
}
#u765 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Krungthep';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u766 {
  position:absolute;
  left:205px;
  top:69px;
  width:97px;
  height:45px;
  font-family:'Krungthep';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'KufiStandardGK';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u768 {
  position:absolute;
  left:206px;
  top:114px;
  width:94px;
  height:21px;
  font-family:'KufiStandardGK';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u769 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#2C2C2C;
}
#u770 {
  position:absolute;
  left:342px;
  top:219px;
  width:750px;
  height:88px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#2C2C2C;
}
#u771 {
  position:absolute;
  left:2px;
  top:19px;
  width:746px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#2C2C2C;
}
#u772 {
  position:absolute;
  left:342px;
  top:374px;
  width:750px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#2C2C2C;
}
#u773 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u774 {
  position:absolute;
  left:379px;
  top:400px;
  width:36px;
  height:36px;
}
#u775 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#2C2C2C;
}
#u776 {
  position:absolute;
  left:342px;
  top:538px;
  width:750px;
  height:88px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#2C2C2C;
}
#u777 {
  position:absolute;
  left:2px;
  top:19px;
  width:746px;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u778 {
  position:absolute;
  left:379px;
  top:564px;
  width:36px;
  height:36px;
}
#u779 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:6px;
}
#u780 {
  position:absolute;
  left:1019px;
  top:579px;
  width:36px;
  height:6px;
}
#u781 {
  position:absolute;
  left:2px;
  top:-5px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#2C2C2C;
}
#u782 {
  position:absolute;
  left:342px;
  top:709px;
  width:750px;
  height:88px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#2C2C2C;
}
#u783 {
  position:absolute;
  left:2px;
  top:19px;
  width:746px;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u784 {
  position:absolute;
  left:379px;
  top:735px;
  width:36px;
  height:36px;
}
#u785 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:30px;
}
#u786 {
  position:absolute;
  left:979px;
  top:732px;
  width:77px;
  height:42px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:30px;
}
#u787 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u788 {
  position:absolute;
  left:100px;
  top:251px;
  width:124px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u790 {
  position:absolute;
  left:100px;
  top:278px;
  width:154px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u791 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u792 {
  position:absolute;
  left:100px;
  top:395px;
  width:124px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u794 {
  position:absolute;
  left:100px;
  top:422px;
  width:154px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u795 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u796 {
  position:absolute;
  left:100px;
  top:557px;
  width:210px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u798 {
  position:absolute;
  left:100px;
  top:586px;
  width:154px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u799 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u800 {
  position:absolute;
  left:100px;
  top:731px;
  width:210px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u802 {
  position:absolute;
  left:100px;
  top:760px;
  width:189px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:2px;
}
#u804 {
  position:absolute;
  left:325px;
  top:307px;
  width:811px;
  height:1px;
}
#u805 {
  position:absolute;
  left:2px;
  top:-8px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:137px;
}
#u806 {
  position:absolute;
  left:1091px;
  top:207px;
  width:1px;
  height:136px;
}
#u807 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:137px;
}
#u808 {
  position:absolute;
  left:342px;
  top:207px;
  width:1px;
  height:136px;
}
#u809 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u810 {
  position:absolute;
  left:687px;
  top:311px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:2px;
}
#u812 {
  position:absolute;
  left:325px;
  top:219px;
  width:811px;
  height:1px;
}
#u813 {
  position:absolute;
  left:2px;
  top:-8px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u814 {
  position:absolute;
  left:1093px;
  top:255px;
  width:35px;
  height:16px;
  color:#FF0000;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:62px;
}
#u816 {
  position:absolute;
  left:1018px;
  top:552px;
  width:1px;
  height:61px;
}
#u817 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u818 {
  position:absolute;
  left:1006px;
  top:564px;
  width:65px;
  height:1px;
}
#u819 {
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:62px;
}
#u820 {
  position:absolute;
  left:1054px;
  top:552px;
  width:1px;
  height:61px;
}
#u821 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u822 {
  position:absolute;
  left:1006px;
  top:599px;
  width:65px;
  height:1px;
}
#u823 {
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u824 {
  position:absolute;
  left:1064px;
  top:573px;
  width:35px;
  height:16px;
  color:#FF0000;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u826 {
  position:absolute;
  left:1021px;
  top:610px;
  width:35px;
  height:16px;
  color:#FF0000;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u828 {
  position:absolute;
  left:1018px;
  top:564px;
  width:36px;
  height:36px;
  opacity:0.2;
}
#u829 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:62px;
}
#u830 {
  position:absolute;
  left:379px;
  top:552px;
  width:1px;
  height:61px;
}
#u831 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u832 {
  position:absolute;
  left:367px;
  top:564px;
  width:65px;
  height:1px;
}
#u833 {
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:62px;
}
#u834 {
  position:absolute;
  left:415px;
  top:552px;
  width:1px;
  height:61px;
}
#u835 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u836 {
  position:absolute;
  left:367px;
  top:599px;
  width:65px;
  height:1px;
}
#u837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u838 {
  position:absolute;
  left:425px;
  top:573px;
  width:35px;
  height:16px;
  color:#FF0000;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u840 {
  position:absolute;
  left:382px;
  top:610px;
  width:35px;
  height:16px;
  color:#FF0000;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:379px;
  top:564px;
  width:36px;
  height:36px;
  opacity:0.2;
}
#u843 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
