body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1109px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:84px;
  color:#D7D7D7;
}
#u66 {
  position:absolute;
  left:100px;
  top:50px;
  width:95px;
  height:102px;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:84px;
  color:#D7D7D7;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Krungthep';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u68 {
  position:absolute;
  left:205px;
  top:69px;
  width:129px;
  height:45px;
  font-family:'Krungthep';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'KufiStandardGK';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u70 {
  position:absolute;
  left:206px;
  top:114px;
  width:48px;
  height:21px;
  font-family:'KufiStandardGK';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u72 {
  position:absolute;
  left:212px;
  top:213px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u75 {
  position:absolute;
  left:359px;
  top:200px;
  width:60px;
  height:60px;
}
#u76 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u77 {
  position:absolute;
  left:359px;
  top:270px;
  width:60px;
  height:16px;
  color:#D7D7D7;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u80 {
  position:absolute;
  left:496px;
  top:200px;
  width:60px;
  height:60px;
}
#u81 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u82 {
  position:absolute;
  left:462px;
  top:270px;
  width:128px;
  height:16px;
  color:#D7D7D7;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u85 {
  position:absolute;
  left:359px;
  top:348px;
  width:60px;
  height:60px;
}
#u86 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u87 {
  position:absolute;
  left:359px;
  top:418px;
  width:61px;
  height:16px;
  color:#D7D7D7;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u90 {
  position:absolute;
  left:359px;
  top:493px;
  width:60px;
  height:60px;
}
#u91 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u92 {
  position:absolute;
  left:359px;
  top:563px;
  width:62px;
  height:16px;
  color:#D7D7D7;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u95 {
  position:absolute;
  left:841px;
  top:200px;
  width:60px;
  height:60px;
}
#u96 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u97 {
  position:absolute;
  left:841px;
  top:270px;
  width:58px;
  height:16px;
  color:#D7D7D7;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u100 {
  position:absolute;
  left:632px;
  top:200px;
  width:60px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u102 {
  position:absolute;
  left:632px;
  top:270px;
  width:62px;
  height:16px;
  color:#D7D7D7;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u105 {
  position:absolute;
  left:737px;
  top:200px;
  width:60px;
  height:60px;
}
#u106 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u107 {
  position:absolute;
  left:737px;
  top:270px;
  width:61px;
  height:16px;
  color:#D7D7D7;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u109 {
  position:absolute;
  left:212px;
  top:381px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u112 {
  position:absolute;
  left:943px;
  top:200px;
  width:60px;
  height:60px;
}
#u113 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u114 {
  position:absolute;
  left:943px;
  top:270px;
  width:63px;
  height:16px;
  color:#D7D7D7;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u117 {
  position:absolute;
  left:1049px;
  top:200px;
  width:60px;
  height:60px;
}
#u118 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u119 {
  position:absolute;
  left:1049px;
  top:270px;
  width:57px;
  height:16px;
  color:#D7D7D7;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u122 {
  position:absolute;
  left:475px;
  top:348px;
  width:60px;
  height:60px;
}
#u123 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u124 {
  position:absolute;
  left:482px;
  top:418px;
  width:45px;
  height:16px;
  color:#D7D7D7;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u127 {
  position:absolute;
  left:591px;
  top:348px;
  width:60px;
  height:60px;
}
#u128 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u129 {
  position:absolute;
  left:589px;
  top:418px;
  width:63px;
  height:16px;
  color:#D7D7D7;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u132 {
  position:absolute;
  left:477px;
  top:493px;
  width:60px;
  height:60px;
}
#u133 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u134 {
  position:absolute;
  left:475px;
  top:563px;
  width:60px;
  height:16px;
  color:#D7D7D7;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u136 {
  position:absolute;
  left:212px;
  top:506px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u139 {
  position:absolute;
  left:592px;
  top:493px;
  width:60px;
  height:60px;
}
#u140 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u141 {
  position:absolute;
  left:592px;
  top:563px;
  width:57px;
  height:16px;
  color:#D7D7D7;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u144 {
  position:absolute;
  left:706px;
  top:493px;
  width:60px;
  height:60px;
}
#u145 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u146 {
  position:absolute;
  left:706px;
  top:563px;
  width:60px;
  height:16px;
  color:#D7D7D7;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
